gamesList{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    padding:50px;
    column-count:2;
}

game{
    display:block;
    border-right: 12px solid #b0988b;
    margin:5px;  
    padding:20px;
    background-color:#f0e2da;
}

game:first-child{
    margin:0px;
    margin-left: 5px;
    margin-right:5px;
}

title{
    display:block;
    font-weight: bold;
}

price,genre,releaseDate,developer,platforms,publisher{
    display:block;
}
price:before{
    content: "Cena:  "
}
genre:before{
    content: "Gatunek:  "
}
releaseDate:before{
    content: "Data wydania:  "
}
developer:before{
    content: "Producent:  "
}
publisher:before{
    content: "Wydawca:  "
}
platforms:before{
    content:"Platformy:  "
}

description {
    display: none;
    background-color: #5c4b36;
    padding: 20px;
  }
  
  coverArt:hover description {
    display: block;
  }