@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

root{
    --text-color: black;
    --bg-border-color: #0F4C99;
    --bg-main-color: #5287CC;
    --bg-game-color: #FFCFBF;
    --bg-game-hover-color: #CC5D52;
    display: block;
    margin: 0px;
    width: 100%;
    border: 0px;
    font-family: 'Roboto', sans-serif, Georgia, serif !important;
    font-size: 16px;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--bg-main-color);
    overflow-x: hidden;
}
data{
    padding-top: 150px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
}
platforms,genres,pegiDescriptors{
    display: none;
}
games{
    display: block;
    column-count: 1;
    padding: 0px 20px;
}

@media only screen and (min-width: 720px) {
    games{
        column-count: 2;
    }
}
@media only screen and (min-width: 1400px) {
    games{
        column-count: 3;
    }
}

game{
    page-break-inside: avoid;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-gap: 5px 5px;
    margin: 15px 5px;  
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--bg-game-color);

    border-radius: 31px 31px 31px 31px;
    -moz-border-radius: 31px 31px 31px 31px;
    -webkit-border-radius: 31px 31px 31px 31px;
    border: 2px dashed var(--bg-border-color);

    -webkit-box-shadow: 0px 0px 18px 7px var(--bg-border-color);
    -moz-box-shadow: 0px 0px 18px 7px var(--bg-border-color);
    box-shadow: 0px 0px 18px 7px var(--bg-border-color);
}

game:hover{
    background-color: var(--bg-game-hover-color);
    box-shadow: inset 0 0 10px #000000;
}
game:first-child{
    margin-top: 0px;
}

title, price, relatedGenre, releaseDate, developer, publisher, relatedPlatforms, rating, PEGI {
    box-sizing: border-box;
}

game > title {
    grid-area: 1 / 2 / span 1 / span 1;
}
game > price {
    grid-area: 2 / 2 / span 1 / span 1;
}
game > relatedGenre {
    grid-area: 2 / 2 / span 1 / span 1;
}
game > releaseDate {
    grid-area: 3 / 2 / span 1 / span 1;
}
game > developer {
    grid-area: 4 / 2 / span 1 / span 1;
}
game > publisher {
    grid-area: 5 / 2 / span 1 / span 1;
}
game > relatedPlatforms {
    grid-area: 6 / 2 / span 5 / span 1;
}
game > rating {
    grid-area: 11 / 2 / span 1 / span 1;
}
game > PEGI {
    grid-area: 12 / 2 / span 3 / span 1;
}
game > coverArt{
    grid-area: 1 / 1 / span 14 / span 1;
}

game > price ~ relatedGenre{
    grid-area: 3 / 2 / span 1 / span 1;
}
game > price ~ releaseDate {
    grid-area: 4 / 2 / span 1 / span 1;
}
game > price ~ developer {
    grid-area: 5 / 2 / span 1 / span 1;
}
game > price ~ publisher {
    grid-area: 6 / 2 / span 1 / span 1;
}
game > price ~ relatedPlatforms {
    grid-area: 7 / 2 / span 5 / span 1;
}
game > price ~ rating {
    grid-area: 12 / 2 / span 1 / span 1;
}
game > price ~ PEGI {
    grid-area: 13 / 2 / span 3 / span 1;
}
game > price ~ coverArt{
    grid-area: 1 / 1 / span 15 / span 1;
}

title{
    font-weight: bold;
    margin-bottom: 15px;
}

price:before{
    content: "Cena:  "
}
price:after{
    content: attr(currency);
}

relatedGenre:before{
    content: "Gatunek:  "
}
relatedGenre[id="g1"]:after{
    content: "hack and slash"
}
relatedGenre[id="g2"]:after{
    content: "skradanka"
}
relatedGenre[id="g3"]:after{
    content: "survival"
}
relatedGenre[id="g4"]:after{
    content: "piaskownica"
}
relatedGenre[id="g5"]:after{
    content: "strategia"
}
relatedGenre[id="g6"]:after{
    content: "strzelanka"
}
relatedGenre[id="g7"]:after{
    content: "wyścigi"
}
relatedGenre[id="g8"]:after{
    content: "MMO"
}
relatedGenre[id="g9"]:after{
    content: "symulacja"
}
relatedGenre[id="g10"]:after{
    content: "akcji"
}
relatedGenre[id="g11"]:after{
    content: "RPG"
}

releaseDate:before{
    content: "Data wydania:  "
}

developer:before{
    content: "Producent:  "
}

publisher:before{
    content: "Wydawca:  "
}

relatedPlatforms:before{
   content: "Platformy: "
}

relatedPlatform{
    display: list-item;
    min-height: 1rem; 
    margin-left: 3px;
    list-style-position: inside;
}

relatedPlatform[id="p1"]:after{
    content: "PlayStation 3"
}
relatedPlatform[id="p2"]:after{
    content: "PlayStation 4"
}
relatedPlatform[id="p3"]:after{
    content: "PlayStation 2"
}
relatedPlatform[id="p4"]:after{
    content: "Microsoft Windows"
}
relatedPlatform[id="p5"]:after{
    content: "Xbox One"
}
relatedPlatform[id="p6"]:after{
    content: "macOS"
}
relatedPlatform[id="p7"]:after{
    content: "Linux"
}
relatedPlatform[id="p8"]:after{
    content: "Xbox 360"
}
relatedPlatform[id="p9"]:after{
    content: "Nintendo Switch"
}
relatedPlatform[id="p10"]:after{
    content: "Xbox"
}
relatedPlatform[id="p11"]:after{
    content: "Android"
}

rating:before{
    content: "Ocena:  "
}

PEGI:before{
    display: block;
    content: "Ograniczenia wiekowe: " attr(label);
    padding: 0 0 5px 0;
}
relatedPegi{
    display: inline-block;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;  
    
}


relatedPegi[id="d1"]{
    background-image: url("./pegi/pegi1.webp");
}
relatedPegi[id="d2"]{
    background-image: url("./pegi/pegi2.webp");
}
relatedPegi[id="d3"]{
    background-image: url("./pegi/pegi3.webp");
}
relatedPegi[id="d4"]{
    background-image: url("./pegi/pegi4.webp");
}
relatedPegi[id="d5"]{
    background-image: url("./pegi/pegi5.webp");
}
relatedPegi[id="d6"]{
    background-image: url("./pegi/pegi6.webp");
}

coverArt{
    box-sizing: border-box;
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
coverArt[src="id1.jpg"]{
    background-image: url("./coverart/id1.jpg");
}
coverArt[src="id2.jpg"]{
    background-image: url("./coverart/id2.jpg");
}
coverArt[src="id3.jpg"]{
    background-image: url("./coverart/id3.jpg");
}
coverArt[src="id4.jpg"]{
    background-image: url("./coverart/id4.jpg");
}
coverArt[src="id5.jpg"]{
    background-image: url("./coverart/id5.jpg");
}
coverArt[src="id6.jpg"]{
    background-image: url("./coverart/id6.jpg");
}
coverArt[src="id7.jpg"]{
    background-image: url("./coverart/id7.jpg");
}
coverArt[src="id8.jpg"]{
    background-image: url("./coverart/id8.jpg");
}
coverArt[src="id9.jpg"]{
    background-image: url("./coverart/id9.jpg");
}
coverArt[src="id10.jpg"]{
    background-image: url("./coverart/id10.jpg");
}
coverArt[src="id11.jpg"]{
    background-image: url("./coverart/id11.jpg");
}
coverArt[src="id12.jpg"]{
    background-image: url("./coverart/id12.jpg");
}
coverArt[src="id13.jpg"]{
    background-image: url("./coverart/id13.jpg");
}
coverArt[src="id14.jpg"]{
    background-image: url("./coverart/id14.jpg");
}
coverArt[src="id15.jpg"]{
    background-image: url("./coverart/id15.jpg");
}
coverArt[src="id16.jpg"]{
    background-image: url("./coverart/id16.jpg");
}
coverArt[src="id17.jpg"]{
    background-image: url("./coverart/id17.jpg");
}
coverArt[src="id18.jpg"]{
    background-image: url("./coverart/id18.jpg");
}
coverArt[src="id19.jpg"]{
    background-image: url("./coverart/id19.jpg");
}
coverArt[src="id20.jpg"]{
    background-image: url("./coverart/id20.jpg");
}


description{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display:block;
    background-color: var(--bg-game-color);
    font-weight: bold;
    padding:20px 20px 20px 20px;
    font-size: 4em;
    font-family: 'Caveat', cursive;

    border-color: var(--bg-border-color);
    border-style: dashed;
    border-width: 0 0 2px 0;
}

authors{
    width: 100%;
    display:block;
    background-color: var(--bg-game-color);
    margin-top:50px;
    background-size: 5%;
    font-weight: bold;
    padding:20px 20px 20px 20px;

    border-color: var(--bg-border-color);
    border-style: dashed;
    border-width: 2px 0 0 0;
    -webkit-box-shadow: 0px 0px 18px 7px var(--bg-border-color);
    -moz-box-shadow: 0px 0px 18px 7px var(--bg-border-color);
    box-shadow: 0px 0px 18px 7px var(--bg-border-color);

    font-size: 1em;
    text-align: right;

}
person{
    display: block;
    padding-right: 30px;
}
name,surname,index{
    display: inline;
}

