<div class="root">
    <div #data class="data">
        <img src="/assets/coverart/{{g.coverArt}}"/>
        <div>
            <h1>{{g.title}}</h1>
            <p *ngIf="g.price > 0 "> {{g.price}} {{g.price_currency}} </p>
            <p *ngIf="g.price == 0">darmowe</p>
        </div>
    </div>
    <div #descr class="fullDescription" *ngIf="openFull">
        <p>Gatunek: {{g.relatedGenre_id | genre}} </p>
        <p>Wersja językowa: {{g.language}} </p>
        <p>Producent: {{g.developer}} </p>
        <p>Wydawca: {{g.publisher}} </p>
        <p>Ocena według {{g.rating.source}}: {{g.rating.value}} / {{g.rating.max}} </p>
        <p>Data premiery: {{g.releaseDate | date }} </p>
        <p *ngIf="g.pegi.label > 0"> Ograniczenia wiekowe: od {{g.pegi.label}} lat</p>
        <div *ngFor="let item of g.pegi.related">
            <img class="pegi" src="/assets/pegi/{{item}}.webp"/>
        </div>
    </div>
</div>