@import url('https://fonts.googleapis.com/css?family=Baskervville|Raleway&display=swap');

.root{
    display:block;
    width: 250px;
    text-align: center;
    margin: 0 0 35px 35px;
}
img{
    width:250px;
    max-height: 285px;
}
h1{
    margin:4px;
    font-family: 'Baskervville', serif;
    font-size: 20px;
}
p{
    margin:4px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
div:hover{
    color: blue;
}