.root
{
    display: flex;
    flex-direction: row;
}
.data{
    width:250px;
    display:inline-block;
    text-align: center;
    margin: 0 0px 45px 40px;
    :hover{
        color: blue;
        filter: brightness(0.8);
    }
    img{
        width:250px;
        max-height: 285px;
    }
        h1{
            margin:4px;
            font-family: 'Baskervville', serif;
            font-size: 20px;
        }
        p{
            margin:4px 4px 15px 4px;
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
        }
    
}
.fullDescription
{
    font-size:16px;
    width:250px;
    display:inline-block;
    border-style: solid;
    padding:5px 10px 5px 10px;
    margin: 0 0px 45px 0px;
    div{
        padding:2px;
        text-align: center;
        display:inline-flex;
        flex-direction: row;
        .pegi{
            border: 1px solid;
            display:block;
            height:50px;
        }
    }
    
}