<div class="root">
    <div class="input input-style" appSetPlatformFilter="">
        <div>
            <span>Wszystko</span>
        </div>
    </div>
    <div class="input input-style" appSetPlatformFilter="p4,p6,p7">
        <div>
            <span>PC</span>
        </div>
    </div>
    <div class="input input-style" appSetPlatformFilter="p2,p3,p1">
        <div>
            <span>PlayStation</span>
        </div>
    </div>
    <div class="input input-style" appSetPlatformFilter="p5,p8,p10">
        <div>
            <span>Xbox</span>
        </div>
    </div>
    <div class="input input-style" appSetPlatformFilter="p9,p11">
        <div>
            <span>Inne</span>
        </div>
    </div>
    <div class="input">
        <app-search-box></app-search-box>
    </div>
</div>