.root
{
    width: 100%;
    min-width: 300px; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #323234;
    padding-bottom: 10px;
    padding: 0px 10px 0px 10px;;
    
    .input-style:hover
    {
        background-color: #802114;
    }
    .input
    {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        font-size: 30px;
        div
        {
            padding: 5px;
        }
        span
        {
            vertical-align: middle;
            padding: 5px;
        }
    }
    @media all and(min-width: 970px) {
        .to-right
        {
            float: right;
            position: relative;
            top: 4px;
        }
    }
}