.root
{
    width: 100%;
    min-width: 300px; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #323234;
    margin-bottom: 10px;
    padding-left: 0px 10px;
    .input-style:hover
    {
        background-color: lighten(black,25);
    }
    .input
    {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        font-size: 50px;
        div
        {
            padding: 5px;
            height: 90px;
        }
        span
        {
            vertical-align: middle;
            padding: 5px;
        }
    }
}
@media all and (min-width:0px)
{
    .root {  
        height: 500px;
    }

}
@media all and (min-width:490px)
{
    .root {    
        height: 300px;
    }

}
@media all and (min-width:660px)
{
    .root {    
        height: 200px;
    }

}
@media all and (min-width:1260px)
{
    .root {    
        height: 100px;
    }

}
