/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Baskervville|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html,body
{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Baskervville', serif;
}

%selection {
    background-color: #323234;
    color: white;
}
*::selection
{
    @extend %selection;   
}
*::-moz-selection
{
    @extend %selection;
}