div
{
    span
    {
        vertical-align: middle;
        padding: 5px;
        input
        {
            height: 40px;
            width: 300px;
            position: relative;
            color: #323234;
            font-family: 'Montserrat', sans-serif;
            font-size: 40px;
            border-radius: 10px;
        }
    }
}